body {
  font-family: Arial, sans-serif;
  background-color: #FFFFE0; /* Light yellow background */
  margin: 0;
  padding: 0;
}

.container {
  margin: 20px;
  text-align: center;
}

h1 {
  text-align: center; /* Center justify Shopping List */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

button {
  margin-left: 10px;
}

.item-name-input {
  margin-right: 50px; /* 50 pixels space between item name box and quantity */
}

/* Add responsiveness */
@media (max-width: 600px) {
  .container {
    margin: 10px;
  }

  button {
    width: 100%; /* Full-width button on smaller screens */
    margin: 10px 0;
  }

  .item-name-input {
    margin-right: 0; /* Reset margin for smaller screens */
    width: 100%; /* Full-width input on smaller screens */
  }
}

